/* Micro clearfix */
@mixin cf{
  &:before, &:after {content:"";display:table;}
  &:after {clear:both;}
  & {zoom:1;}
}

/* Float alternative. About whitespace : http://css-tricks.com/fighting-the-space-between-inline-block-elements */
@mixin inlineblock{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
/* Responsive images : parent element's full width */
@mixin fullwidth{
  height: auto;
  width: 100%;
}

/* img cover */
@mixin cover{
  background-repeat: no-repeat; 
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Main theme colors */
$primary-color: /*#214c86;*/ #054f6c;
$secondary-color: #dedad6;